
@font-face {
    font-family: 'open_sansbold';
    src: url("../font/opensans-bold-webfont.eot");
    src: url("../font/opensans-bold-webfont.eot?#iefix") format('embedded-opentype'),
        url("../font/opensans-bold-webfont.woff") format('woff'),
        url("../font/opensans-bold-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url("../font/opensans-regular-webfont.eot");
    src: url("../font/opensans-regular-webfont.eot?#iefix") format('embedded-opentype'),
        url("../font/opensans-regular-webfont.woff") format('woff'),
        url("../font/opensans-regular-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url("../font/opensans-semibold-webfont.eot");
    src: url("../font/opensans-semibold-webfont.eot?#iefix") format('embedded-opentype'),
        url("../font/opensans-semibold-webfont.woff") format('woff'),
        url("../font/opensans-semibold-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url("../font/opensans-semibolditalic-webfont.eot");
    src: url("../font/opensans-semibolditalic-webfont.eot?#iefix") format('embedded-opentype'),
        url("../font/opensans-semibolditalic-webfont.woff") format('woff'),
        url("../font/opensans-semibolditalic-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}
#firechat-wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

#firechat-header, #firechat-tab-list, .tab-pane-menu ,#firechat .fifth{
    display: none;
}
#firechat label{

}
#firechat .message:nth-child(odd){
    background:#fff;
}
#firechat .message,#firechat .chat{
    border:0px;
}
#firechat .message .name{
    font:15px 'open_sansbold';
    color:#713871;
}
#firechat em, .sendmail{
    color:#b9b9b9;
    font:13px 'open_sansregular';
    float:right;
}
.sendmail a {
    color:#713871;
}
.sendmail {
    margin-top: -30px;
}
#firechat .fourfifth{
    width:100%;
}
#firechat .message.message-self {
    margin-left:0px;
}
#firechat .message{
    margin-left:10px;
    border-left:3px solid #d9d9d9;
    padding-left:18px;
    margin-bottom:20px;
}
#firechat .chat{
    padding-left:15px;
    height: 310px;
    margin-bottom:17px;
}   
#firechat .message-content{
    font:15px 'open_sanssemibold';
    color:#4c4c4c;
}
#firechat textarea{
    height:55px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    font: 13px 'open_sanssemibold_italic';
    color: #959595;
    width: 380px;
    margin: 0 auto;
    display: block;

}
#firechat textarea:focus{
    outline:none;
}
#firechat .clearfix > label{
    margin-left:10px;
    font: 15px 'open_sansbold';
    color: #b6c57e;
}
