/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */



/* ==========================================================================
   Fonts
   ========================================================================== */








@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../font/opensans-bolditalic-webfont.eot');
    src: url('../font/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/opensans-bolditalic-webfont.woff') format('woff'),
        url('../font/opensans-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../font/opensans-semibolditalic-webfont.eot');
    src: url('../font/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/opensans-semibolditalic-webfont.woff') format('woff'),
        url('../font/opensans-semibolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roboto_slabregular';
    src: url('../font/robotoslab-regular-webfont.eot');
    src: url('../font/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/robotoslab-regular-webfont.woff') format('woff'),
        url('../font/robotoslab-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../font/opensans-italic-webfont.eot');
    src: url('../font/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/opensans-italic-webfont.woff') format('woff'),
        url('../font/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/opensans-semibold-webfont.eot');
    src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/opensans-semibold-webfont.woff') format('woff'),
        url('../font/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/opensans-regular-webfont.woff') format('woff'),
        url('../font/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold';
    src: url('../font/opensans-bold-webfont.eot');
    src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/opensans-bold-webfont.woff') format('woff'),
        url('../font/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'AvenirNext-Bold';
    src: url('../font/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirNext-Bold.woff') format('woff'), url('../font/AvenirNext-Bold.ttf')  format('truetype'), url('../font/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('../font/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirNext-Regular.woff') format('woff'), url('../font/AvenirNext-Regular.ttf')  format('truetype'), url('../font/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-Medium';
    src: url('../font/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirNext-Medium.woff') format('woff'), url('../font/AvenirNext-Medium.ttf')  format('truetype'), url('../font/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-DemiBold';
    src: url('../font/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirNext-DemiBold.woff') format('woff'), url('../font/AvenirNext-DemiBold.ttf')  format('truetype'), url('../font/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-MediumItalic';
    src: url('../font/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirNext-MediumItalic.woff') format('woff'), url('../font/AvenirNext-MediumItalic.ttf')  format('truetype'), url('../font/AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-BoldItalic';
    src: url('../font/AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirNext-BoldItalic.woff') format('woff'), url('../font/AvenirNext-BoldItalic.ttf')  format('truetype'), url('../font/AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-DemiBoldItalic';
    src: url('../font/AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirNext-DemiBoldItalic.woff') format('woff'), url('../font/AvenirNext-DemiBoldItalic.ttf')  format('truetype'), url('../font/AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}





/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    border:0px;
    font-size:13px;
    font-family: 'open_sansregular';
}
button:focus,
input:focus,
select:focus,
textarea:focus{
    outline: none;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
*{
    box-sizing: border-box;
}
p{
    margin:0px;
}
ul{
    padding:0px;
    margin:0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.left{
    float:left;
}
.right{
    float:right;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
.clearfix100{
    clear: both;
    content: " ";
    height: 100px;
}
.clearfix50{
    clear: both;
    content: " ";
    height: 50px;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    .relative{
        position:relative;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    max-width: 2850px;
    width:100%;
    margin:0 auto;
}
header{
    width:100%;
    max-width:2580px;
    height: 640px;
}
header .background{
    position: absolute;
    top:0;
    width:100%;
    z-index: -1;
}
header .row1{
    margin-top:35px;

}
header .row1 > .left{
    width:15%;
}
.page_top_content .row1 > .left{
    width:267px
}
.l_box{
    color:#fff;
    display:block;
    float:right;
    text-transform: uppercase;
    border:4px solid #fff;
    padding:8px 35px 5px 23px;
    max-width: 213px;
    font:29px "AvenirNext-Bold";
    line-height: 1.115;
}


.contact{
    margin-right:70px;
}
.tel{
    color:#fff;
    font:35px 'AvenirNext-Regular';
    margin-top: -5px;
}
.contact a.contact_us{
    color:#fffe86;
    background:url("../img/contact)und.png") repeat-x bottom;
    cursor: pointer;
    font:16px "AvenirNext-Medium";
}
header .row2{
    float:right;
    width: 85%;
}
.menu_block{
    height:77px;
    width:70%;
    background:#00bd9c;
    border-bottom:2px solid #fff;
    padding-right: 70px;
    display:table-cell;
    vertical-align: middle;
}
.top_menu{
    float:left;
}

.top_menu li{
    display:inline-block;
    padding-left: 40px;
    height: 65px;
    line-height: 65px;
}
.row1 .left{
    margin-top: 10px;
}
.top_menu li a{
    color:#fff;
    text-transform: uppercase;
    font: 20px "AvenirNext-Bold";
    margin-right:12px;
}
.top_el{
    float:right;
}
.lang{
    position:relative;
    float:right;
}
.lang ul{
    position:absolute;
}
.lang  p,.lang ul li{    
    width:61px;
    text-align:center;
    height:64px;    
    font:20px "AvenirNext-Bold";
}
.lang  p{
    background:#fffead;
    display:table-cell;
    vertical-align: middle;
    color:#00bd9c;
    cursor: pointer;
}
.lang ul a{
    width:61px;
    height:64px;    
    color:#fff;
    display:table-cell;
    vertical-align: middle;
}
.lang ul li:first-child{
    background:#00deb7;
}
.lang ul li:nth-child(2){
    background:#01cca9;
}
.lang ul li:last-child{
    background:#00bd9c;
}
.overlay2,.overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}
header .cont{
    position:relative;
}
.chat_b{
    display:block;
    background:url('../img/chat_dots.png')no-repeat 18px center #fff;
    padding-left:55px;
    float:left;
    margin-right:5px;
    height:64px;
    color:#00bd9c;
    font:20px 'AvenirNext-Bold';
    line-height: 64px;
    padding-right:20px;
}
header .cont_form{
    position: absolute;
    width: 503px;
    right: 0px;
    top: 40px;
    background: #fff;
    padding: 0px 27px 30px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(174, 174, 174, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(174, 174, 174, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(174, 174, 174, 0.75);
    z-index: 3;
}
.cont_form .title{
    background:#f3f3f3;
    color:#000;
    font:18px 'AvenirNext-DemiBold';
    width: 503px;
    padding:12px 30px;
    text-transform: uppercase;
    margin-left: -27px;
}
.cont_form ul li{
    font:17px 'AvenirNext-Medium';
    color:#484848;
    width: 50%;
    float: left;
    margin-top:30px;
}
.cont_form ul li img{
    float:left;
    margin-right:5px;
    margin-top:4px;
}
.cont_form ul{
    margin-bottom:35px;
}
header .cont_form .prp {
    width: 450px;
    border: 2px solid #00bd9c;
    height: 44px;
    margin-top: 6px;
    padding: 0px 19px;
    line-height: 39px;
}
header .cont_form .prp a {
    font: 15px 'AvenirNext-Bold';
    line-height: 40px;
    color: #00bd9c;
    text-transform: uppercase;
}
header .left.c_info,header .right.map {
    margin-top:24px;
    max-width:260px;
}
header .left.c_info .city{
    color:#484848;
    margin-bottom:15px;
    font:17px 'AvenirNext-DemiBold';
}
header .left.c_info .street{
    color:#484848;
    font:17px 'AvenirNext-Medium';
}
p.form_title{
    color:#ff6476;
    margin-top:30px;
    text-transform: uppercase;
    font:18px "AvenirNext-DemiBold";
    margin-bottom:8px;
}
.cont_form input[type="text"]{
    width:100%;
    height:33px;
    background: #f3f3f3;
    margin-bottom: 13px;
}
.cont_form textarea ,.cont_form input[type="text"]{
    padding:0px 13px;
    color:#5c5c5c;
    font:14px 'AvenirNext-Medium';
}
.cont_form textarea{
    resize: none;
    background:#f3f3f3;
    height:84px;
    width:100%;
    padding-top:13px;
}
.cont_form input[type="text"].code{
    width:100px;
    height:30px;
    margin-right:8px;
    padding-left:13px;
    margin-top:17px;
}
.cont_form input[type="submit"]{
    width: 57%;
    float: right;
    margin-top: 13px;
    height: 37px;
    background: #00bd9c;
    text-transform: uppercase;
    color:#fff;
    font:18px 'AvenirNext-Regular';
}
.cont_form .relative img{
    position:absolute;
    top: -7px;
    right: 127px;
}
section.global{
    background: #f3f3f3;
    max-width:2580px;
    width:100%;
}
.wrap{
    width:1280px;
    margin:0 auto;
    padding-top:1px;
}
article{
    width:370px;
    height:447px;
    background:#fff;
    overflow: hidden;
    margin-top:88px;
    position:relative;
    float:left;
}
article .acticle_img{
    height:190px;
    width:100%;
    position: relative;
    overflow: hidden;
}
article .acticle_img img{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
article .categ_title a{
    display:table-cell;
    vertical-align: middle;
    font:22px 'AvenirNext-Bold';
    color:#ff6577;
    text-transform: uppercase;
    height:75px;
    width:370px;
    padding:0px 35px;
}
article .categ_title a:hover{
    background:#ff6476;
    color:#fff;
}
article .sub_list{
    width:100%;
    height:185px;
    border: solid 35px transparent;
    border-top:30px solid transparent;
    overflow:hidden;
}
article .sub_list ul li a{
    font:16px 'AvenirNext-Medium';
    color:#434343;
    line-height: 16px;
}
article .sub_list ul li{
    padding-left:23px;
    background:url('../img/arcticle_li.png') no-repeat left 5px;
}
article a.more{
    display:block;
    position:absolute;
    height:22px;
    width:32px;
    background:url('../img/more.png')no-repeat center;
    right:20px;
    bottom:20px;
}
article:nth-child(3n-1){
    margin-left: 85px;
    margin-right:85px;
}
.prefooter{
    width:100%;
    max-width:2580px;
    height:403px;
}
footer {
    height:500px;
}
.prefooter  .row1_l,.prefooter  .row1_r{
    width:50%;
    height:100%;
    float: left;
    position: relative;
}
.prefooter  .row1_l{
    background:url('../img/foter_an.png')no-repeat right bottom #00bd9c;
}
.prefooter  .row1_r{
    background-color:#fff;  
}
.prefooter  .row1_l .content,.prefooter  .row1_r .content{
    width:640px;
    padding-top:50px;
    position:relative;
    max-height: 355px;
    overflow:hidden;
    padding-bottom:20px;
}
.prefooter  .row1_l .content{
    padding-right:70px;
    float:right;
    color:#fff;
}
.prefooter  .row1_r .content{
    padding-left:65px;
    padding-right:55px;
}
.prefooter .row1_l p.f_title,.prefooter .row1_r p.f_title{
    font:35px 'AvenirNext-Bold';
    text-transform: uppercase;
    margin-bottom:15px;
}
.prefooter  .data{
    font:12px 'AvenirNext-DemiBold';
    height:30px;
    display: inline-block;
    padding:0px 10px;
    line-height:30px;
    color:#fff;
    margin-bottom:10px;
}
.prefooter  .row1_l .data{    
    background: #ff6577;
}
.prefooter .row1_r  .f_title{
    color:#ff6577;
}
.prefooter  .row1_r .data{
    background:#00d4d4;
}
.prefooter a.f_artc{
    font:20px 'AvenirNext-DemiBold';
    display:block;
    margin-bottom:20px;
    line-height:22px;
}
.prefooter a.f_artc:hover{
    text-decoration:underline;
}
.prefooter .row1_l a.f_artc {
    color:#fff;
}
.prefooter .row1_r a.f_artc {
    color:#0382a0;
}
.prefooter .row1_r p{
    font:17px 'open_sansregular';
    line-height: 21px;
    color:#797979;
}
.prefooter .row1_l p{
    font:17px 'AvenirNext-Medium';
    line-height: 21px;
}
.prefooter a.more{
    display:block;
    position:absolute;
    width:22px;
    height:16px;
    margin-top:-3px;
}
.prefooter .row1_l a.more{
    background:url('../img/white_arrow.png') no-repeat center;
    right:90px;
}
.prefooter a.more{
    background:url('../img/black_arrow.png') no-repeat center;
    right:70px;
}
footer .left,footer .right{
    width:50%;
    float:left;
}
footer .left{
    background:#333333;
    height:100%;
}
footer .f_menu{
    background:#2d2d2d ;
    height:77px;
}
footer .f_menu ul li{
    display:inline-block;
}
footer .f_menu ul li a{
    display:inline-block;
    height:100%;
    color:#fff;
    font:16px 'AvenirNext-DemiBold';
    line-height: 77px;
    text-transform: uppercase;
    padding-right:34px;
}
footer .left .content{
    width:640px;
    float:right
}
footer .left > .content{
    padding-top:30px;
}
footer .right .content{
    width:640px;
    float:left;
}
footer .f_social li{
    display:inline-block;
    margin-right:18px;    
}
footer .f_social li a{   
    width:42px;
    height:42px;
    background:#bcbcbc;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
footer label{
    color:#767676;
    font:14px 'AvenirNext-Medium';
    display:block;
    margin-bottom:3px;
}
footer input[type=text]{
    height:34px;
    width:220px;
    font:14px 'AvenirNext-Medium';
    color:#5e5e5e;
    padding:0 12px;
}
footer .search input[type=submit]{
    height:34px;
    width:136px;
    border:2px solid #00bd9c;
    background:transparent;
    color:#00bd9c;
    font:14px 'AvenirNext-Bold';
    text-transform: uppercase;
}
footer .newsletter_subscribe_form{
    margin-top:25px;
}
footer .newsletter_subscribe_form input[type=submit]{
    height:34px;
    width:136px;
    background:transparent;
    border:2px solid #ff6477;
    color:#ff6477;
    font:14px 'AvenirNext-Bold';
    text-transform: uppercase;
}
footer .copy{
    color:#7b7b7b;
    font:14px 'AvenirNext-Medium';
    margin-top:85px;
}
footer .copy a{
    color:#c5c5c5;
    text-decoration: underline;
}
footer .right{
    position:relative;
    background:rgba(0,0,0,0.61);
    height:500px;
}
footer #map-canvas2{
    position:absolute;
    z-index:-1;
}
footer .right p.y_info{
    color:#fffe86;
    font:35px 'AvenirNext-DemiBold';
    margin-top:75px;
    margin-left:62px;
}
footer .right p.w_info{
    margin-top:50px;
    color:#fff;
    font:29px 'AvenirNext-Medium';
    margin-left:62px;
}
footer .right p.w_info span{
    display:block;
}
.page_header{
    width:100%;
    max-width:2580px;    
    height:320px;
    background: -webkit-linear-gradient(left,#f7f7f7,#f7f7f7 35%,white 35%,white);
    background: linear-gradient(to right,#f7f7f7,#f7f7f7 35%,white 35%,white);
    background: -o-linear-gradient(left, #f7f7f7,#f7f7f7 35,white 35,white); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,#f7f7f7,#f7f7f7 35%,white 35,white);
    padding-top:1px
}
.page_top_header{
    width:1811px;
    height:263px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    margin-top:55px;
}
.page_top_header .top_back{
    position:absolute;
}
.page_top_header .page_top_content{
    position: relative;
    z-index: 2;
    width:100%;
    height:100%;
}
.page_top_content .row1{
    margin-top:75px;
}
.page_top_content .row1 > .right{
    margin-right:70px;
}
.page_top_content .row2{
    float: right;
    width: 1544px;
}
.page_top_content .row2 .content{
    height:77px;
    background:#00bd9c;
    border-bottom:3px solid #fff;
    margin-right:70px;
}
.page_top_content .row2 .content ul li{
    display:inline-block;
    height:74px;
}
.page_top_content .row2 .content ul li a{
    display:block;
    height:74px;
    padding:0 32px;
    font:20px "AvenirNext-Bold";
    color:#fff;
    text-transform: uppercase;
    line-height: 74px;

}
.page_top_content .row2 .content ul li.active{
    border:3px solid #fff;
    border-bottom:0px;
}
section{
    background: -webkit-linear-gradient(left,#f7f7f7,#f7f7f7 35%,white 35%,white);
    background: linear-gradient(to right,#f7f7f7,#f7f7f7 35%,white 35%,white);
    background: -o-linear-gradient(left, #f7f7f7,#f7f7f7 35,white 35,white);  
    background: -ms-linear-gradient(left,#f7f7f7,#f7f7f7 35%,white 35,white);
}
section .left_block{
    float:left;
    width:357px;
    padding-top:45px;
    background: #f7f7f7;
}
section .right_block{
    float:right;
    width:868px;
    padding-top:5px;
    margin-left:55px;
}
.left_block .title{
    color:#292929;
    font:30px 'AvenirNext-Bold';
    text-transform: uppercase;
    padding-right: 37px;
    margin-bottom:20px;
}
.left_block ul.menu li a{
    padding:15px 12px;
    font:20px 'AvenirNext-Medium';
    color:#595959;
    display:block;
    border-bottom:2px solid #ececec;    
    line-height: 20px;
    margin-right:35px;
}
.dirs_menu a{
    font:12px "AvenirNext-Regular";
    color:#929292;
}
.dirs_menu a:last-child{
    color:#000;
    font:12px 'AvenirNext-DemiBold';
}
p{
    font:17px 'AvenirNext-Regular';
}
.text p{
    font:17px 'AvenirNext-Regular';
    color:#4c4c4c;
    margin-bottom:0px;
}
h1{
    font:20px 'AvenirNext-Bold';
    color:#008d74;    
    margin:25px 0px 35px;
}
h2{
    color:#1c1c1c;
    font:17px "AvenirNext-Bold";
}
.attention p{
    margin:0px;
    font:17px 'AvenirNext-Regular';    
    color:#4c4c4c;
}
.attention p.title{
    color:#ff6477;
    font:24px 'AvenirNext-DemiBold';
    text-transform: uppercase;
    margin:30px 0;
}
.attention ul{
    margin:35px 0px;
}
.attention ul li{
    padding-left:20px;
    font:17px 'AvenirNext-Regular';    
    color:#4c4c4c;
    background: url('../img/li_pink.png') no-repeat left 5px ;
}
.attention span{
    color:#008d74;
    font:17px 'AvenirNext-MediumItalic';
}
nav p{
    color:#008d74;
    font:24px "AvenirNext-Bold";
    padding:3px 50% 0 3px;
    line-height: 27px;
}

nav{
    width:307px;
    height:187px;
    background:#fff;
    padding:20px 30px;
    margin-bottom:23px;
    position:relative;
}
nav > a{
    display:block;
    overflow:hidden;
}
nav span{
    display:block;
    font:14px 'AvenirNext-Medium';
    color:#595959;
    max-height:54px;
    overflow:hidden;
    margin-top:15px;
    line-height:18px;
}
nav .more{
    position: absolute;
    background:url('../img/grey_arrow.png')no-repeat center;
    width:19px;
    height:13px;
    right:20px;
    bottom:32px;
}
section .search input[type=text]{
    width:263px;
    height:33px;
    background: #f7f7f7;
    color:#595959;
    font:13px 'AvenirNext-Medium';
    padding:0px 15px;
}
.search_s input[type=text]{
    width:263px;
    height:33px;
    border:1px solid #e3e3e3;
    color:#b0b0b0;
    font:15px 'AvenirNext-Medium';
    padding:0px 15px;
}
.search_s input[type=submit]{
    width:118px;
    height:33px;
    text-transform: uppercase;
    color:#fff;
    background:#ff6477;
    font:15px 'AvenirNext-DemiBold';
    margin-left:8px;
}
.dirs_menu{
    margin-bottom:20px;
}
section .search input[type=submit]{
    width:118px;
    height:33px;
    text-transform: uppercase;
    color:#fff;
    background:#008d74;
    font:15px 'AvenirNext-DemiBold';
    margin-left:8px;
}
.docs{
    border-top:2px solid #f7f7f7;
    padding-top: 15px;
    margin-top:15px;
}
.docs li{    
    display: table;
    width:100%;
}
.docs li a{
    padding:0px 60px 0px 50px;
    display:table-cell;
    vertical-align: middle;
    color:#4c4c4c;
    font:17px 'AvenirNext-Medium';
    height:37px;
    margin-top:8px;
    width:99%;
    position:relative;
}
.docs li.xls a,.docs li.xlsx a{
    background:url('../img/xlsx.png')no-repeat left 5px;
}
.docs li.pdf a{
    background:url('../img/pdf.png')no-repeat left 5px;
}
.docs li.docx a,.docs li.doc a{
    background:url('../img/doc.png')no-repeat left 5px;
}
.docs li a span{
    position:absolute;
    right:0px;
    background:url('../img/dwnl.png') no-repeat right 5px;
    display:block;
    width:24px;
    height:24px;
    bottom:5px;
}
.pag {
    margin-top: 25px;
}
.pag .w_p {
    font: 14px 'AvenirNext-Bold';
    color: #4b4b4b;
}
.pag ul li, .pag ul {
    display: inline;
}
.pag ul li.active, .pag ul li.disabled {
    color: #4b4b4b;
    pointer-events: none;
    cursor: default;
}
.pag ul li.disabled,.pag ul li:last-child a,.pag ul li:last-child{
    border-right: 0px;
}
.pag ul li a, .pag ul li {
    width: 20px;
    border-right: 1px solid #d0d0d0;
    display: inline-block;
    display: -moz-inline-box;
    font: 14px 'AvenirNext-Bold';
    text-align: center;
    color: #00bd9c;
}
.doc,.xls,.xlsx,.pdf,.docx{
    display: table;
    width: 100%;
    margin-bottom:18px;
}
.docx a,.doc a {
    background: url('../img/doc.png')no-repeat left 5px;
}
.pdf a {
    background: url('../img/pdf.png')no-repeat left 5px;
}
.docx a span,.doc a span ,.pdf a span ,.xls a span ,.xlsx a span  {
    position: absolute;
    right: 0px;
    background: url('../img/dwnl.png') no-repeat right 5px;
    display: block;
    width: 24px;
    height: 24px;
    bottom: 5px;
}
.pdf a ,.docx a,.doc a,.xlsx a,.xlx a {
    padding: 0px 60px 0px 50px;
    display: table-cell;
    vertical-align: middle;
    color: #4c4c4c;
    font: 17px 'AvenirNext-Medium';
    height: 37px;
    margin-top: 8px;
    width: 99%;
    position: relative;
}
.xls a,.xlsx a {
    background: url('../img/xlsx.png')no-repeat left 5px;
}
table.atz{
    margin-bottom: 110px;
}
table.atz, table.atz td {
    border: 1px solid #e3e3e3;
    vertical-align: top;
    padding: 30px 25px;
    font: 17px 'AvenirNext-Regular';
    color: #4c4c4c;
}
table.atz tr td:first-child {
    background: #fbfbfb;
    width: 7%;
}
table.atz tr td:nth-child(2) {
    font: 17px 'AvenirNext-DemiBold';
    color: #008d74;
}
table.atz tr td:last-child {
    width: 58%;
}
table.atz tr td ol {
    padding-left: 25px;
}
table.atz tr td ol li {
    list-style: decimal;
    padding-left: 20px;
    font: 17px 'AvenirNext-Regular';
    color: #4c4c4c;
}
table.atz tr td a {
    font: 17px 'AvenirNext-Regular';
    color: #008d74;
}
table.atz tr td ol li a {
    text-decoration: underline;
}
table.taxe {
    width: 100% !important;
    margin-bottom: 50px;
}
table.taxe thead {
    border-collapse: collapse;
}
.left_block ul.menu li.active a{
    color:#0382a1;
    font:20px 'AvenirNext-Bold';
}
table.taxe thead tr {
    border: 1px solid #ffc3ca;
    border-bottom: 2px solid #ffc3ca;
    padding-left: 30px;
}
table.taxe thead tr td {
    border: 1px solid #ffc3ca;
    font: 17px 'AvenirNext-DemiBold';
    color: #ff6477;
    height: 50px;
    padding: 0px 20px;
    text-transform: uppercase;
}
table.taxe tbody tr:nth-child(2n-1) {
    background: #fbfbfb;
}
table.taxe tbody tr {
    border: 1px solid #e3e3e3;
}
table.taxe tbody tr td:first-child {
    font: 17px 'AvenirNext-DemiBold';
    max-width: 250px;
    color:#1a1a1a;
}
table.taxe tbody tr td {
    color: #4c4c4c;
    font: 17px 'AvenirNext-Regular';
    border: 1px solid #e3e3e3;
    padding: 10px 20px;
    line-height: 19px;
    min-width: 115px;
}
ul {
    border: 0px;
    padding: 0px;
}
ul.culture li {
    width: 100%;
    height: 110px;
    border-bottom: 2px solid #f7f7f7;
    margin-bottom: 40px;
}
ul.culture li .left.img {
    width: 132px;
    height: 89px;
    overflow: hidden;
}
ul.culture li .left.img img {
    margin-right: 20px;
    max-width: 132px;
    max-height: 89px;
}
ul.culture li .right {
    float: left;
    margin-left: 30px;
}
ul.culture li .right .box {
    float: left;
    border-left: 2px solid #dddddd;
    min-width: 195px;
    padding-top: 8px;
    padding-left: 15px;
}
ul.culture li .right .box p, ul.culture li .right .box p a {
    font: 15px 'AvenirNext-Medium';
    color: #008d74;
    margin-bottom: 0px;
}
ul.culture li .right >p {
    font:20px 'AvenirNext-DemiBold';
    color:#232323;
    margin-bottom: 15px;
}
.right_block nav{
    float:left;
    border:2px solid #f7f7f7;
    margin-bottom:45px;
}
.right_block nav:nth-child(2n){
    margin-right:50px;
}
.city {
    width: 100%;
}
.city_box {
    height: 115px;
    width: 100%;
    border-bottom: 2px solid #efefef;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.city_info {
    float: left;
    width: 80%;
}
.city_box .img {
    float: left;
    margin-right: 18px;
    width: 96px;
}
.city_box .img  img{    
    max-width: 96px;
}
.city_box .title {
    font: 24px 'AvenirNext-Medium';
    color: #008d74;
    margin-bottom: 0px;
    margin-top: -3px;
}
.city_box .info {
    font: 17px 'AvenirNext-Regular';
    color: #4b4b4b;
    margin-bottom: 0px;
}
.city_link {
    text-align: right;
    margin-top: 30px;
    float: right;
}
.city_link a {
    color: #9c9c9c;
    font: 16px 'AvenirNext-MediumItalic';
}
ul.faq li {
    margin-bottom: 8px;
    border: 1px solid #efefef;
    padding: 10px 25px;
    position: relative;
}
ul.faq li a {
    font: 20px 'AvenirNext-Medium';
    color: #232323;
    display: block;
    line-height: 25px;
}
ul.faq li a span {
    font: 20px 'AvenirNext-Medium';
    color: #ff6476;
    padding: 0px;
}
ul.faq li.active a {
    color:#ff6476;
}
ul.faq li p {
    font: 14px 'AvenirNext-Regular';
    color: #4b4b4b;
    display: none;
    margin-top: 15px;
}
ul.faq li p:last-child{
    margin-bottom:30px;
}
.text img{
    max-width:100%;
    margin:40px 0;
}
.t_block p{
    margin-bottom: 25px;
}
.t_block img{
    max-width:100%;
    margin:40px 0px;
}
.av {
    margin-top: 70px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.av p {
    font: 15px   'AvenirNext-MediumItalic';
    color: #4b4b4b;
    margin: 7px 0;
}
.av.pink p span {
    font:15px  'AvenirNext-BoldItalic';
    color: #ff6477;
}
.form.green {
    width: 100%;
}
.form .ftb {
    font: 24px 'AvenirNext-Bold';
    color: #008d74;
    text-transform: uppercase;
    width: 200px;
    line-height: 28px;
    margin-bottom: 10px;
}
.form form {
    padding: 0px 90px 40px 60px;
    position: relative;
}
.form.green .ftb {
    color: #00bd9c;
    width: 350px;
}
.form label, .chat label {
    font: 13px 'AvenirNext-Medium';
    color: #4c4c4c;
    margin-bottom: 3px;
    display: block;
}
.green input[type=text]{
    width: 280px;
}
.green input[type=text].code, .cont_form input[type=text].code {
    height: 30px;
    max-width: 85px;
    border: 1px solid #d9d9d9;
    margin-right: 12px;
}
.green input[type=submit] {
    background: #00bd9c;
    display: block;
    width: 280px;
    color:#fff;
    font:14px 'AvenirNext-Bold';
    text-transform: uppercase;
    height:33px;
}
element.style {
}
.form.green {
    width: 100%;
}
.form {
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    margin-top: 65px;
    margin-bottom: 70px;
    position: relative;
}
.green input[type=text],.compl input[type=text]{
    margin-bottom: 20px;
    font: 13px 'AvenirNext-MediumItalic';
    color: #4c4c4c;
    padding: 0 12px;
    height: 33px;
    border: 1px solid #d9d9d9;
    width: 100%;
}
.dop {
    width: 414px;
    -webkit-box-shadow: 0px 1px 40px 0px rgba(210, 195, 210, 0.5);
    -moz-box-shadow: 0px 1px 40px 0px rgba(210, 195, 210, 0.5);
    box-shadow: 0px 1px 40px 0px rgba(210, 195, 210, 0.5);
    position: fixed;
    bottom: 0px;
    background: #fff;
    z-index: 888;
    right: 10px;
}
.dop .top {
    height: 103px;
    width: 100%;
    background: #00bd9c;
    border-bottom: 4px solid #008d74;
    position: relative;
}
.dop .top .left {
    width: 114px;
    height: 98px;
    padding-top: 8px;
} 
.dop .right {
    position: relative;
    width: 63px;
    height: 98px;
    padding-left: 5px;
}
.dop .right .buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}
.dop .right .buttons button {
    height: 25px;
    width: 25px;
    background: #fff;
    margin-left: -2px;
}
.dop .right .buttons button img {
    margin-top: -4px;
}
.dop .right.firechat-name {
    width: 235px;
}
.dop .right .c_name {
    color: #fff;
    font: 20px 'AvenirNext-Bold';
    max-width: 230px;
    margin: 13px 0px 5px;
}
.dop .right .status.on {
    background: url('../img/online.png') no-repeat left center;
}
.dop .right .status {
    padding-left: 40px;
    color: #fff;
    font: 15px 'AvenirNext-MediumItalic';
    text-transform: capitalize;
}
.dop .top hr {
    height: 1px;
    background: #47cfb8;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 0px;
    margin: 0px;
    display: block;
    border: 0;
    padding: 0;
}
#firechat.dop .content {
    border: 1px solid #bbe2e2;
}
#firechat .form {
    border-bottom: 0px;
}
.dop .top .left .photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 1px;
}
.dop .top .left .photo {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    margin: 0 auto;
}
#firechat iframe,#firechat .form {
    border: 0px;
}

.compl_list li a {
    border-bottom: 2px solid #f7f7f7;
    height: 110px;
    display: block;
    margin-bottom: 25px;
}
.compl_list li a span {
    color: #fff;
    font: 12px 'AvenirNext-Regular';
    background-color: #00d4d4;
    height: 21px;
    display: block;
    float: left;
    text-align: center;
    position: relative;
    line-height: 21px;
    padding: 0 7px;
    margin-top: 15px;
}
.compl_list li a .compl_title {
    font: 17px 'AvenirNext-DemiBold';
    display: inline-block;
    display: -moz-inline-box;
    color: #008d74;
    margin-left: 15px;
    margin-bottom: 0px;
    line-height: 51px;
}
.compl_list li a .compl_info {
    font: 17px 'AvenirNext-Regular';
    max-height: 46px;
    overflow: hidden;
    color: #000;
}
.form .nmpm {
    width: 245px;
    float: left;
    margin-right: 30px;
}
.form .content textarea {
    width: 100%;
    font: 13px 'open_sanssemibold_italic';
    color: #4c4c4c;
    padding: 5px 12px;
    resize: none;
    height: 135px;
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
}
.form .content .code{
    width:125px;
}
.form .content .radio_b label {
    display: inline-block;
    display: -moz-inline-box;
    margin: 0 20px 20px -5px;
    color:#5e5e5e;
    font:13px  'AvenirNext-DemiBoldItalic';
}
.form  .content input[type=submit] {
    height: 33px;
    width: 246px;
    color: #fff;
    background: #ff6476;
    text-transform: uppercase;
    font: 15px 'AvenirNext-Bold';
    margin-top: 10px;
}
.apt input[type=text]{
    width:520px;
}
.left_details a{
    font:20px 'AvenirNext-DemiBold';
    color:#424242;
    padding:10px 0px 10px 70px;
    display:block;
    border-bottom:2px solid #e6e6e6;
    margin-right:35px;
}
.l_email{
    background:url('../img/l_email.png')no-repeat 20px center;
}
.l_fax{
    background:url('../img/l_fax.png')no-repeat 20px center;
}
.l_chat{
    background:url('../img/l_chat.png')no-repeat 20px center;
}
.l_map{
    background:url('../img/l_map.png')no-repeat 25px center;
}
.urg{
    width:100%;
    margin-bottom:80px;
}
.urg thead tr{
    background:#008d74;
}
.urg thead tr td{
    height:33px;
    color:#fff;
    font:17px 'AvenirNext-DemiBold';
}
.urg thead tr td:first-child{    
    padding-left:30px;
}
.urg tr td:first-child{
    width:37%;
}
.urg tbody tr td {
    vertical-align: top;
    height: 33px;
    border-bottom: 2px solid #efefef;
    padding-top: 30px;
}
.urg tbody tr td:last-child{
    font:17px 'AvenirNext-Regular';
    color:#4c4c4c;
}
.urg tbody tr td:first-child {   
    background: url('../img/g_phone.png') no-repeat left 30px;
    padding-left: 35px; 
    font:17px 'AvenirNext-Medium';
    color:#ff6476;
}
.gal .bx-wrapper .bx-controls-direction a, .slider .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    z-index: 9999;
}
.gal .bx-wrapper .bx-prev, .slider .bx-wrapper .bx-prev {
    left: 18px;
    background: url('../img/gal_prev.png');
}
.gal .bx-wrapper .bx-next, .slider .bx-wrapper .bx-next {
    right: 18px;
    background: url('../img/gal_next.png');
}
.personal {
    width: 50%;
    padding-right: 20px;
    margin-bottom: 60px;
    float: left;
}
.personal .img {
    width: 170px;
    height: 213px;
    position: relative;
    float: left;
    overflow: hidden;
}
.personal .img img{
    max-width: 170px;
}
.personal .left {
    margin-left: 15px;
}
.name {
    font: 20px 'AvenirNext-DemiBold';
    color: #008d74;
    margin-bottom: 0px;
}
.function {
    font: 17px 'AvenirNext-DemiBold';
    color: #4b4b4b;
    margin-top: 30px;
    margin-bottom: 10px;
}
p.descr {
    max-width: 228px;
    max-height: 110px;
    font: 14px 'AvenirNext-Regular';
    color: #4b4b4b;
    overflow: hidden;
    margin-bottom: 0px;
}
.ag_line:after{
    clear:both;
    display:block;
    content:"";
}
.ag_line{
    width:610px;
    margin-bottom:26px;
}
.ag_line p,.ag_line span{
    display:block;
    float:left;
    color:#0382a1;
    font:17px 'AvenirNext-DemiBold';
    height:36px;
    line-height: 36px;
}
.ag_line span{
    width:121px;
    border:2px solid #0382a1;
    padding:0 8px;
}
.ag_line p{
    width:489px;
    border:1px solid #ededed;
    padding:0px 22px;
}
.sort_b {
    float: right;
}
.sort_b p {
    color: #4c4c4c;
    font: 17px 'AvenirNext-DemiBold';
    display: inline-block;
    display: -moz-inline-box;
    height: 33px;
    line-height: 33px;
    margin-top: 0px;
    margin-right: 15px;
}
.sort_b .selectboxit-container {
    width: auto;
}
.sort_b .selectboxit-container .selectboxit {
    width: 65px !important;
    height: 33px;
}
.sort_b .selectboxit-container span, .selectboxit-container .selectboxit-options a {
    font: 17px 'AvenirNext-DemiBold';
    color: #008d74;
    line-height: 31px;
}
.sort_b .selectboxit-container .selectboxit-options {
    min-width: 10px !important;
    width: 65px;
}
.sort_b .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    top: 7px;
    left: 10px;
}
.sort_b .selectboxit-default-arrow {
    background: url('../img/sort_b.png')no-repeat;
    width: 12px;
    height: 17px;
}
.calendar_slider table thead tr:first-child td {
    font: 17px 'open_sansbold';
    background: #fbfbfb;
    text-transform: initial;
    text-align: center;
}
.calendar_slider table, .calendar_slider table a {
    width: 100%;
    font: 15px 'open_sanssemibold';
    color: #4c4c4c;
}
.calendar_slider table thead tr td {
    color: #008d74;
    font: 17px 'AvenirNext-Bold';
    text-transform: uppercase;
}
.calendar_slider table tbody tr:nth-child(2n-1), .calendar_slider table tbody tr td:first-child {
    background: #fbfbfb;
}
.calendar_slider td {
    padding: 15px;
    border: 1px solid #e3e3e3;
    color:#4c4c4c;
    font:17px 'AvenirNext-Medium';
}
.calendar_slider tbody td:nth-child(2){    
    font:15px 'AvenirNext-DemiBold';
}
.clndr .bx-wrapper .bx-controls-direction a, .orsl .bx-wrapper .bx-controls-direction a {
    width: 12px;
    height: 20px;
    top: 70px;
    margin-top: 0px;
}
.orsl .bx-wrapper .bx-controls-direction a{
    top:15px;
}
.clndr .bx-wrapper .bx-next, .orsl .bx-wrapper .bx-next {
    background: url('../img/clndr_next.png');
    right: 20px;
}
.clndr .bx-wrapper .bx-prev, .orsl .bx-wrapper .bx-prev {
    background: url('../img/clndr_prev.png');
    left: 20px;
}
.calendar_slider table thead tr:first-child td {
    font: 17px 'AvenirNext-Bold';
    color:#008d74;
    background: #fbfbfb;
    border: 1px solid #e3e3e3;
    text-align: center;
}
.calendar_slider table thead tr td {
    border: 1px solid #008d74;
}
.calendar_slider table thead tr:last-child td:last-child{
    padding:1px;
}
.w_line {
    right: 1px;
    top: 49px;
    height: 18px;
    background: #fff;
    z-index: 78;
    left: 1px;
    position: absolute;
}
table.orar {
    width: 100%;
}
table.orar thead tr:first-child {
    background: #fbfbfb;
    text-align: center;
    font: 17px 'AvenirNext-Bold';
    color: #ff6577;
    height: 46px;
}
table.orar td {
    border: 1px solid #e3e3e3;
    padding: 12px;
}
table.orar thead tr:last-child {
    font: 17px 'open_sansregular';
    color: #4c4c4c;
    text-align: right;
}
table.orar td {
    border: 1px solid #e3e3e3;
    padding: 12px;
}
table.orar thead tr:last-child td {
    padding: 15px 12px 5px 12px;
}
table.orar tbody tr td {
    padding: 50px 12px;
    position: relative;
    width: 14.28%;
} 
.cl_data {
    position: absolute;
    height: 36px;
    width: 36px;
    background: url('../img/date.png');
    background-size: 36px;
    top: -1px;
    right: -1px;
    color: #fff;
    font: 17px 'open_sansbold';
    text-align: center;
    padding-top: 5px;
}
table.orar ul li {
    padding-left: 10px;
    position: relative;
    background: url('../img/li_clnd.png') no-repeat left 7px;
}
table.orar ul li > p {
    font: 13px 'open_sanssemibold';
    margin-bottom: 10px;
}
.cl_pop {
    display: none;
    position: absolute;
    left: 100%;
    top: -20px;
    min-width: 200px;
    z-index: 99;
    background: #fff;
    padding: 7px 17px;
    min-height: 60px;
    border: 1px solid #ff6477;
}
.cl_pop span {
    font: 14px 'open_sanssemibold';
}
.cl_pop p {
    font: 14px 'open_sansbold';
    margin: 0px;
}
.cl_time li:hover > p {
    text-decoration: underline;
    cursor: pointer;
}
.cl_time li:hover .cl_pop {
    display: block;
}
.cl_pop:after {
    position: absolute;
    left: -6px;
    top: 17px;
    content: url('../img/cln_arrow.png');
}
table.orar tbody tr td:last-child .cl_pop, table.orar tbody tr td:nth-child(6) .cl_pop {
    left: -210px;
}
table.orar tbody tr td:last-child .cl_pop:after, table.orar tbody tr td:nth-child(6) .cl_pop:after {
    position: absolute;
    left: 100%;
    top: 17px;
    content: url('../img/cln_arrow-r.png');
}
.cl_data.active {
    background: url('../img/date_active.png');
}
table.orar .active ul li{
    background: url('../img/li_clnd_active.jpg') no-repeat left 7px;
}
.com_box {
    width: 100%;
    border: 2px solid #f1f1f1;
    padding: 15px 27px 33px;
    margin-bottom: 38px;
    position: relative;
}
.com_box .title {
    text-transform: uppercase;
    font: 24px 'AvenirNext-Bold';
    color: #008d74;
    padding-bottom: 5px;
}
.com_box hr{
    border-top:1px solid #efefef;
    border-bottom:1px solid #efefef;
    margin:0px;
}
.com_table{
    width:100%;
    margin-top:20px;
}
.com_table thead tr{
    background: #efefef;
    height: 33px;
    font:12px 'AvenirNext-DemiBold';
    color:#000;
    text-transform: uppercase;
    line-height: 33px;
}
.com_table thead tr td{
    padding-left:13px;
}
.com_table tbody tr td{
    padding-left:13px;
    color:#343434;
    font:14px 'AvenirNext-Regular';
    height:30px;
}
.com_table tbody tr td:first-child{
    padding-left:18px;
}
.com_table tr td:last-child{
    width:30%;
    text-align: center;
}
.com_box span{
    color:#151515;
    font:17px 'AvenirNext-DemiBold';
    margin-top:15px;
    display:block;
}