
.lang p {
    background: #e1fbcc;
} 


.contact a.contact_us{
    color:#fff;
}
footer .right p.y_info {
    color: #D2FEAE;
} 




.adv {
    border: 1px solid #efb4cd;
} 


.sec_span, h1, .attention span, nav p, .city_box .title, .form .ftb,  .name, .sort_b .selectboxit-container span,.selectboxit-container .selectboxit-options a, .calendar_slider table thead tr:first-child td,  .com_box .title,.sec_details .sec_name, .secretar span, table.plc > tbody > tr > td > a, .adv, .s_title, .det_news, .search_t span, .search_p span, .cda ul li .left a, ul.vice li .name, .bgr .info > ul > li .left {
    color: #f03081;
} 
.calendar_slider table thead tr td,.compl_list li a .compl_title{
    color:#434584;
}
section .search input[type=submit] {
    background: #f03081;
} 
ul.culture li .right .box p,ul.culture li .right .box p a{
    color:#434584;
}
.dop .top {
    border-bottom: 4px solid #4A4C88;
} 
#firechat.dop .content {
    border: 1px solid #f1bfd4;
}
article .sub_list ul li{
    background: url('../img/arcticle_li_green.png') no-repeat left 4px;
}

.home_chat .pct{
    background: url('../img/chat_dots_green.png') no-repeat 8px center;
}

.lang p, .chat_b,  .cont_form .prp a,  .mini_header .m_lang li a, .form.green .ftb, .stat_info span:last-child, .search_li li p span, .contact_l .prp a, .contact_r .prp a {
    color: #F15295;
} 
footer .search input[type=submit]{
    color:#B9C66A;
    border-color:#B9C66A;
}

table.plc > tbody > tr > td:first-child,header .cont_form .prp {
    border-color: #F15295;
} 
@media only screen and (max-width: 767px){
    .l_box {
        color: #F15295;
        border-color: #F15295;
    }
    .l_box span{
        color:#F15295
    }
}
.menu_block, .cont_form input[type="submit"], .mini_header .content, .page_top_content .row2 .content, .green input[type=submit], .dop .top, .ldmbox input[type=submit] {
    background: #F15295;
} 

.contact_l .prp, .contact_r .prp {
    border: 2px solid #F15295;
} 

ul.a_n li a span {
    background-color: #F15295;
} 


table.taxe thead tr, table.taxe thead tr td {
    border: 1px solid #efb4cd;
} 



.dop .top hr {
    background: #ef73a7;
} 



.compl_list li a span, .a_box p.data,.p_data {
    background-color: #ef73a7;
} 

.left_block .chat .green, .home_chat p {
    color: #ef73a7;
} 

.home_chat {
    border: 2px solid #373984;
} 


.left_block ul.menu > li ul li a, .left_block ul.menu li.active a, .ag_line p,.ag_line span, .ldm_li b {
    color: #4A4C88;
} 

.ag_line span {
    border: 2px solid #4A4C88;
} 

.home_chat p span{
    color:#373984;
}
.left_block .chat .violet {
    color: #434584;
} 



.n_alert .cntn p {
    color: #373984;
} 

.n_alert .n_info .n_data {
    background: #373984;
} 


footer .newsletter_subscribe_form input[type=submit] {
    border: 2px solid #4A4C85;
} 

footer .newsletter_subscribe_form input[type=submit], .attention p.title, table.taxe thead tr td, .ath p, .subt {
    color: #4A4C85;
} 

.search_s input[type=submit], .snd_sbm {
    background: #4A4C85;
} 


article .categ_title a, table.orar thead tr:first-child, .clu_nume {
    color: #4A4C85;
} 

.l_a li a span {
    background-color: #4A4C85;
} 

.ldmbox .data p {
    background: #4A4C85;
} 


table.taxe thead tr {
    border-bottom: 2px solid #8587b3;
} 


p.form_title, ul.faq li a span {
    color: #4A4C85;
} 

article .categ_title a:hover, .form .content input[type=submit], .video_d {
    background: #4A4C85;
} 




.menu_block,.page_top_content .row2 .content{
    background: #F15295;
}
.lang p,.home_chat p{
    color: #F15295;
}
footer .newsletter_subscribe_form input[type=submit]{
    border:2px solid #F15295;
    color: #F15295;
}
.pag ul li a, .pag ul li {
    color: #F15295;
}
h1,table.taxe thead tr td{
    color:#4A4C85;
}
table.taxe thead tr td{
    border: 1px solid #4A4C85;
}
.prefooter .row1_l{
    background: url('../img/foter_an_pink.png')no-repeat right bottom #4B4D86;
}
.prefooter .row1_r .f_title{
    color:#BAC66E;
}
.prefooter .row1_r .data{
    background: #373984;
}
.prefooter .row1_r a.f_artc{
    color:#373984;
}
.prefooter .row1_l p.f_title,.prefooter .row1_l p{
    color:#fff;
}
.prefooter .row1_l .data {
    background: #F45097;
}
.a_box .title a,.a_box .title{
    color:#4A4C88;
}
.a_box p.data, .p_data{
    background-color: #B9C66C;
}
.contact_l .prp a{
    background: url('../img/phone_book_pink.png')no-repeat left center;
}
.contact_r .prp a{
    background: url('../img/bus_pink.png')no-repeat left top;
}
.left_block .chat .mn{
    background:url('../img/chat_man_pink.png') no-repeat center;
    background-size: 100%;
}
.sitemap > ul > li > a{
    background: url('../img/f_li_pink.png')no-repeat left 4px;
}
.sitemap > ul > li > ul > li > a{
    background: url('../img/s_li_pink.png')no-repeat left 4px;
}
.dop .right .status.on {
    background: url('../img/chat_dots_pink.png') no-repeat left center;
}
.dop .right .buttons button.firechat-hide{
    background:url('../img/save_pink.png')no-repeat center #fff;
}
.dop .right .buttons button.firechat-close{
    background:url('../img/close_pink.png')no-repeat center #fff;
}
.dop .right .buttons button.firechat-show{
    background:url('../img/unsave_pink.png')no-repeat center #fff;
}
.urg thead tr {
    background: #4a4c88;
}
.urg tbody tr td:first-child{
    background: url('../img/g_phone_pink.png') no-repeat left 30px;
}
.bgr .info > ul > li .right.list:before {
    content: url('../img/f_li_pink.png');
}
.cns_locali thead tr td{
    color:#4A4C88;
    border-color: #4A4C88;
}
.m_criteria{
    border-color:#4A4C88;
}
.calendar_slider table thead tr td {
    border: 1px solid #78583f
}
.adv{
    background-color:#fef2f7;
}