

footer .left {
    background: #3A250A;
} 


footer .f_menu {
    background: #361D07;
} 


.f_fb{
    background:url('../img/fb_yellow.png')no-repeat center #814A23;
}
.f_odno{
    background:url('../img/odno_yellow.png')no-repeat center #814A23;
}
.f_vk{
    background:url('../img/vk_yellow.png')no-repeat center #814A23;
}
.f_twitter{
    background:url('../img/twitter_yellow.png')no-repeat center #814A23;
}
.f_rss{
    background:url('../img/rss_yellow.png')no-repeat center #814A23;
}
.f_gplus{
    background:url('../img/gplus_yellow.png')no-repeat center #814A23;
}
.a_box .title a,.a_box .title{
    color:#BE964E;
}
.pag ul li a, .pag ul li{
    color:#FEC142;
}
.tda span, .ldmbox p.tda span{
    color:#BE964E;
}
.m_criteria{
    border-color:#804B23;
}
footer label {
    color: #826C54;
} 


footer .copy {
    color: #826C54;
} 


footer .copy a {
    color: #826C54;
} 


.contact a.contact_us {
    color: #fff;
} 
footer .right p.y_info{
    color:#FEE7A1;
}

.adv {
    border: 1px solid #dbb87d;
} 
.n_alert:before{
    border-color: #804B21;
}
.lang ul li:first-child {
    background: #fcc964;
}
.prefooter .row1_l{
    background: url('../img/foter_an_yellow.png')no-repeat right bottom #804B23;
}
.prefooter .row1_l .data {
    background: #FEC142;
}
.home_chat .pct {
    background: url('../img/chat_dots_yellow.png') no-repeat 8px center;
}
.lang ul li:nth-child(2) {
    background: #f9b52c;
}
.lang ul li:last-child {
    background: #B88323;
}
.sec_span, h1, .attention span, nav p, ul.culture li .right .box p,ul.culture li .right .box p a, .city_box .title, .form .ftb, .compl_list li a .compl_title, .name, .sort_b .selectboxit-container span,.selectboxit-container .selectboxit-options a, .calendar_slider table thead tr:first-child td, .calendar_slider table thead tr td, .com_box .title, .cns_locali thead tr td, .sec_details .sec_name, .secretar span, table.plc > tbody > tr > td > a, .adv, .s_title, .det_news, .search_t span, .search_p span, .cda ul li .left a, ul.vice li .name, .bgr .info > ul > li .left {
    color: #804B21;
} 

section .search input[type=submit] {
    background: #804B21;
} 

.dop .top {
    border-bottom: 4px solid #804B21;
} 
.top_el .home_chat,.home_chat{
    background: #804B23;
    border-color: #804B23;
}
.home_chat p,.home_chat p span{
    color:#fff;
}
.prefooter .row1_l p.f_title,.prefooter .row1_l p{
    color:#fff;
}

.lang p, .chat_b, .cont_form .prp a, footer .search input[type=submit], .mini_header .m_lang li a, .form.green .ftb, .stat_info span:last-child, .search_li li p span, .contact_l .prp a, .contact_r .prp a {
    color: #B88323;
} 
header .cont_form .prp{
    border-color:#B88323;
}
footer .search input[type=submit]{
    border-color:#B88323;
}
table.plc > tbody > tr > td:first-child {
    border-color: #B88323;
} 
@media only screen and (max-width: 767px){
    .l_box {
        color: #B88323;
        border-color: #B88323;
    }
    .l_box span{
        color:#B88323
    }
}
.menu_block, .cont_form input[type="submit"], .mini_header .content, .page_top_content .row2 .content, .green input[type=submit], .dop .top, .ldmbox input[type=submit] {
    background: #B88323;
} 

.contact_l .prp, .contact_r .prp {
    border: 2px solid #B88323;
} 

ul.a_n li a span {
    background-color: #B88323;
} 


table.taxe thead tr, table.taxe thead tr td {
    border: 1px solid #dbb87d;
} 



.dop .top hr {
    background: #c49b54;
} 



.compl_list li a span, .a_box p.data,.p_data {
    background-color: #804B21;
} 

.left_block .chat .green {
    color: #804B21;
} 

.home_chat {
    border: 2px solid #804B21;
} 



.left_block ul.menu > li ul li a, .left_block ul.menu li.active a, .ag_line p,.ag_line span, .ldm_li b {
    color: #BE964E;
} 

.ag_line span {
    border: 2px solid #BE964E;
} 


.left_block .chat .violet{
    color: #B88323;
} 


::-moz-selection, ::selection {
    background: #cead73;
} 


.prefooter .row1_r .f_title{
    color:#FEC343;
}
.prefooter .row1_r .data{
    background:#804B21; 
}
.prefooter .row1_r a.f_artc{
    color:#804B21; 
}
.n_alert .cntn p {
    color: #f9a600;
} 

.n_alert .n_info .n_data {
    background: #f9a600;
} 


footer .newsletter_subscribe_form input[type=submit] {
    border: 2px solid #FFE8A3;
} 

footer .newsletter_subscribe_form input[type=submit], .attention p.title, .ath p{
    color: #FFE8A3;
} 
table.taxe thead tr td{
    color:#dbb87d;
}
.subt {
    color:#804B23;
}

.search_s input[type=submit], .snd_sbm {
    background: #FFE8A3;
} 
.contact_l .prp a{
    background: url('../img/phone_book_yellow.png')no-repeat left center;
}

article .categ_title a{
    color:#BA8223;
}
table.orar thead tr:first-child, .clu_nume {
    color: #FEC142;
} 

.l_a li a span {
    background-color: #FEC142;
} 

.ldmbox .data p {
    background: #FEC142;
} 


table.taxe thead tr {
    border-bottom: 2px solid #dbb87d;
} 


p.form_title, ul.faq li a span,.av.green p span {
    color: #FEC142;
} 

article .categ_title a:hover, .form .content input[type=submit], .video_d {
    background: #FEC142;
} 

.left_block .chat .mn{
    background:url('../img/chat_man_yellow.png') no-repeat center;
    background-size: 100%;
}
.contact_r .prp a{
    background: url('../img/bus_yellow.png')no-repeat left top;
}
article .sub_list ul li {
    background: url('../img/arcticle_li_yellow.png') no-repeat left 4px;
}

.sitemap > ul > li > a{
    background: url('../img/f_li_yellow.png')no-repeat left 4px;
}
.sitemap > ul > li > ul > li > a{
    background: url('../img/s_li_yellow.png')no-repeat left 4px;
}
.dop .right .status.on {
    background: url('../img/chat_dots_yellow.png') no-repeat left center;
}
.dop .right .buttons button.firechat-hide{
    background:url('../img/save_yellow.png')no-repeat center #fff;
}
.dop .right .buttons button.firechat-close{
    background:url('../img/close_yellow.png')no-repeat center #fff;
}
#firechat.dop .content {
    border: 1px solid #b5a289;
}
.dop .right .buttons button.firechat-show{
    background:url('../img/unsave_yellow.png')no-repeat center #fff;
}
.urg thead tr {
    background: #3a250a;
}
.urg tbody tr td:first-child{
    background: url('../img/g_phone_yellow.png') no-repeat left 30px;
}
.bgr .info > ul > li .right.list:before {
    content: url('../img/f_li_yellow.png');
}
.cns_locali thead tr td{
    border-color:#804B21;
}
.calendar_slider table thead tr td {
    border: 1px solid #78583f
}